h1{
    text-align: center;
    font-size: 35px;
    color: white;
    margin-top: 100px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body{
    background-image: url("../img/fondo1.png");
    background-size: cover;
}

.container{
    margin: auto;
    display: flex;
    flex-direction:column;
    align-items: center;
    background-color: rgba(250, 152, 6, 0.87);
    width: 650px;
    height: auto;
    border-radius: 5px;
}

.cajainput{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
}

.cajalista{
    margin: 10px;
    text-align: left;
    width: 600px;
    height: auto;
    border-radius: 5px;
    background-color: rgba(165, 42, 42, 0.5);
}

.Lista {
    font-size: 2rem;
    color: black;
    list-style:decimal;
}

.Lista button{
    color: white;
    font-size: 20px;
    background-color: brown;
    border-radius: 5px;
    cursor: pointer;

}

#pushmeboton{
    color: white;
    font-size: 20px;
    background-color: brown;
    border-radius: 5px;
    cursor: pointer;    

}

#inputpushme{
    border-radius: 5px;
    width: 450px;
    height: 25px;
}